<!DOCTYPE html>
<html class="enroll_show">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="user-scalable=no,width=device-width,initial-scale=1,maximum-scale=1"/>
    <load href="__PUBLIC__/css/style.css"/>
    <load href="__PUBLIC__/css/style-responsive.css"/>
    <title>契约报名者</title>
</head>
<body>
<div class="wrapper">

    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <volist name="enroll" id="data">
                <div class="row">
                    <div class="col-md-12">
                        <div class="panel">
                            <div class="panel-body">
                                <div class=" text-center">
                                    <img style="width: 100%; border-radius: 0.4em" src="__ROOT__/Uploads/{$data.enroll_pic}"/>
                                </div>
                                <br/>
                                <ul class="p-info">
                                    <li>
                                        <div class="title">姓名</div>
                                        <div class="desk">{$data.enroll_name}</div>
                                    </li>
                                    <li>
                                        <div class="title">性别</div>
                                        <div class="desk">{$data.enroll_sex}</div>
                                    </li>
                                    <li>
                                        <div class="title">手机</div>
                                        <div class="desk">{$data.enroll_tel}</div>
                                    </li>
                                    <li>
                                        <div class="title">年龄</div>
                                        <div class="desk">{$data.enroll_age}</div>
                                    </li>
                                    <li>
                                        <div class="title">学校</div>
                                        <div class="desk">{$data.enroll_school}</div>
                                    </li>
                                    <li>
                                        <div class="title">年级</div>
                                        <div class="desk">{$data.enroll_grade}</div>
                                    </li>
                                    <li>
                                        <div class="title">专业</div>
                                        <div class="desk">{$data.enroll_major}</div>
                                    </li>
                                    <li>
                                        <div class="title">QQ</div>
                                        <div class="desk">{$data.enroll_qq}</div>
                                    </li>
                                    <li>
                                        <div class="title">微信</div>
                                        <div class="desk">{$data.enroll_wechat}</div>
                                    </li>
                                    <li>
                                        <div class="title">兴趣</div>
                                        <div class="desk">{$data.enroll_hobby}</div>
                                    </li>
                                    <li>
                                        <div class="title">自我介绍</div>
                                        <div class="desk">{$data.enroll_intro}</div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </volist>
            <div class="text-center">
                <ul class="pagination blog-pagination">
                    {$nav.prev}
                    {$nav.next}
                </ul>

            </div>
        </div>
    </div>

</div>


<load href="__PUBLIC__/js/jquery.min.js"/>
<load href="__PUBLIC__/js/jquery-ui.min.js"/>
<load href="__PUBLIC__/js/bootstrap.min.js"/>
<load href="__PUBLIC__/js/jquery.nicescroll.js"/>
<load href="__PUBLIC__/js/index.js"/>


<load href="__PUBLIC__/js/app_enroll.js"/>
<script>

</script>
</body>

</html>